.header__container{
    display: flex;
    padding: 1.5em 1em  ;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.header__caixa{
    display: flex;
    justify-content: space-between;
}
.header__lista{
display: flex;
list-style: none;
}
.lista__link{
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    margin: 0 1em;
}
.header__logo,.header__botoes{
    margin: 0 2em;
    display: flex;
    align-items: center;
}

.header__logo img{
margin-right: 0.5em;
}
.header__logo {
    padding: 0 4em;
}
.logo__texto{
    font-size: 18px;
    color: var(--cinza-logo);
}
.header__botoes a{
margin-left: 1em;
text-decoration: none;
color: var(--cinza);
}
.botoes__entrar{
    padding: 0 1em;
}
.header__botoes .botoes__cadastro{
    background-color: var(--vinho);
    color: var(--branco);
    padding: 10px 18px;
    border-radius: 8px;
    
}