.sobre__nos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 6em 7em;
    height: 30vh;
    justify-content: space-between;
}
.sobre__texto{
    background-color: var(--vinho-claro);
    padding: 0.5em;
    border-radius: 24px;
    font-weight: 600;
    color: var(--vinho);
}
.sobre__titulo{
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza-escuro);
    letter-spacing: -0.02em;
}
.sobre__paragrafo{
    width: 70%;
    font-size: 20px;
    font-weight: 400;
    color:var(--cinza);
}
