.vagas__container {
    padding: 3em 5em 6em 5em;
}

.vagas__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.vagas__texto {
    background-color: var(--vinho-claro);
    border-radius: 24px;
    padding: 0.5em;
    color: var(--vinho);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1em;
}

.vagas__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-escuro);
    margin-bottom: 0.5em;
}

.vagas__paragrafo {
    color: var(--cinza);
    margin-bottom: 2.5em;
    font-size: 20px;
}

.vagas__img {
    width: 95%;
    margin-bottom: 4em;
}

.vagas__body {
    margin-left: 15em;
}

.vagas__titulo-2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin-bottom: 1.5em;
}

.vaga {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 1em;
    margin-bottom: 1em;
    width: 75%;
}

.vaga__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin-bottom: 2em;
}
.vaga__descricao{
    font-weight: 500;
    color: var(--cinza);
    margin-right: 1.5em;
}